@page {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana;
  background: skyblue;
}

.page {
  page-break-after: always;
  padding: 2rem;
  height: 94.2%;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th  {
  text-align: left;
  color: white;
  background: green;
}

th, td {
  border: 1px solid black;
  padding: 0.5rem;
}
